<form [formGroup]="createChange" novalidate class="">
  <div class="form-group">
    <p>
      {{
        userService.getLanguage() == "es_MX"
          ? "Cambiar Información"
          : "Change Info"
      }}
    </p>
    <hr />
    <div class="form-group">
      <label for="Description">
        {{ userService.getLanguage() == "es_MX" ? "Nombre" : "Name" }}
      </label>
      <input
        type="text"
        formControlName="Name"
        name="nameUser"
        class="uk-input"
        id="nameUser"
        [disabled]=""
      />
    </div>

    <div class="form-group">
      <label for="Description"
        >{{ userService.getLanguage() == "es_MX" ? "Constraseña" : "Password" }}
      </label>
      <input
        type="password"
        class="uk-input"
        formControlName="Password"
        id="passwordUser"
        name="passwordUser"
      />
    </div>
    <div class="button">
      <button type="submit" (click)="updateInfo()">
        {{
          userService.getLanguage() == "es_MX"
            ? "Guardar Cambios"
            : "Save changes"
        }}
      </button>
    </div>
  </div>
</form>
